#node2 {
    top: 0px;
    left: 409px;
    opacity: 0;
}

#node2Container .subnode1 {
    top: 100px;
    left: 609px;
    opacity: 0;
}

#node2Container .subnode2 {
    top: 50px;
    left: 100px;
    opacity: 0;
}