#node3 {
    top: 0px;
    left: 409px;
    opacity: 0;
}

#node3Container .subnode1 {
    top: 200px;
    left: 409px;
    opacity: 0;
}

#node3Container .subnode2 {
    top: 500px;
    left: 200px;
    opacity: 0;
}
